*.egg-info
*.komodoproject
*.log
*.mo
*.py?
*.swp
.coverage
.idea
.installed.cfg
.komodotools
.mr.developer.cfg
.tox/
.vscode/
# dirs
bin/
buildout-cache/
devel/
develop-eggs/
dist/*
eggs/
htmlcov/
include/
lib/
lib64
local/
node_modules/
parts/
rc/
reports/
share/
solr/plone/*/data
src/
update-admin-password.*
var/
# files
Gruntfile.js
buildout.cfg
coverage.json
log.html
output.xml
package.json
package-lock.json
pip-selfcheck.json
pyvenv.cfg
report.html