[buildout]
extensions =
    mr.developer
allow-picked-versions = false
show-picked-versions = true

parts =
    omelette
    instance1
    zopepy
#    ipzope
    repozo

extends = 
    http://dist.plone.org/release/4.3.9/versions.cfg
    sources.cfg
    port.cfg
    versions-base.cfg

versions=versions
index = http://devpi.imio.be/root/imio/+simple/
# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
   http://dist.plone.org/release/4.3.9
   http://dist.plone.org/thirdparty

# Add additional eggs here
# elementtree is required by Plone
eggs =
    Plone
    Pillow
#    PyXML
#- hotfix -#
#    Products.PloneHotfix20130618

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =

# Only take stable eggs
#prefer-final = true

# Always unzip eggs
unzip = true

always-checkout = force
auto-checkout +=
    appy
    collective.excelexport
    imio.project.core
    imio.project.pst
    plone.app.users

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance1:eggs}
products = ${instance1:products}

[instance1]
recipe = plone.recipe.zope2instance
user = admin:${port:admin-password}
http-address = 8081
zserver-threads = 4
debug-mode = off
verbose-security = off
zope-conf-additional =
  <product-config five.z2monitor>
     bind 127.0.0.1:8888
  </product-config>
  extensions ${buildout:directory}/Extensions
  %define FILESTORAGE ${buildout:directory}/var/filestorage
  %define BLOBSTORAGE ${buildout:directory}/var/blobstorage
  %include ${buildout:directory}/zope_add.conf
environment-vars =
  PYTHON_EGG_CACHE ${buildout:directory}/python-eggs
  zope_i18n_compile_mo_files true

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} my.package
eggs =
    ${buildout:eggs}
    Products.PasswordStrength
    collective.ckeditor
    collective.externaleditor
    imio.project.pst
    iw.debug
    plonetheme.imioapps
    five.z2monitor
    Products.ZNagios
    zc.z3monitor

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    plonetheme.imioapps
    five.z2monitor
    Products.ZNagios-zcmonitor
    zc.z3monitor

products =
    ${buildout:directory}/products

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance1:eggs}
interpreter = zopepy
scripts = zopepy

[ipzope]
recipe = zc.recipe.egg
eggs = ipython ${instance1:eggs}
initialization =
    import sys, os
    os.environ["INSTANCE_HOME"] = "${instance1:location}"
    sys.argv[1:1] = "--profile zope2".split()
scripts = ipython=ipzope

[repozo]
recipe = zc.recipe.egg
eggs = ZODB3
scripts = repozo
